.watch-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 80px);
}

.video-section {
  flex: 2;
  background-color: #000;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
}

.video-section > div {
  width: 100%;
  height: 100%;
}

.youtube-frame {
  width: 100%;
  height: 100%;
}

.memo-section {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.memo-section h3 {
  margin-top: 0;
}

.memo-input {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 10px;
  padding: 15px;
  resize: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: inherit;
}

.save-btn {
  padding: 12px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.save-btn:hover {
  background-color: #555;
}

.watch-nav {
  padding: 15px 20px 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
  transition: transform 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}

.back-btn:hover {
  color: #ff0000;
  transform: translateX(-5px);
}

.title-input {
  flex: 1;
  padding: 10px 15px;
  font-size: 1.1rem;
  border: 1px soild #ddd;
  border-radius: 50px;
  outline: none;
  background-color: #f9f9f9;
  transition: all 0.2s;
}

.title-input:focus {
  border-color: #333;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}