.header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.logo-box {
  display: flex;           
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header h1 {
  margin: 0;
  font-size: 35px;
}