.sidebar {
  width: 300px;
  background-color: white;
  border-left: 1px solid #eee;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-content {
  padding: 20px;
  width: 300px;
  overflow-y: auto;
  height: 100%;
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.empty-memo {
  font-size: 0.8rem;
  color: #ccc;
  text-align: center;
  margin-top: 20px;
}